/* Put your code here */
.grid {
    display: grid;

    /* short hand of up code */
    grid-template: 100px 100px 100px/ repeat(24, 50px);
    /*grid-row-gap: 10px;
    grid-column-gap: 10px; */


}
.grid div:nth-child(1){
    grid-column: 1 / span 24;
}
.grid div:nth-child(2){
    grid-column: auto / span 12;
}
.grid div:nth-child(3){
    grid-column: auto / span 6;
}
.grid div:nth-child(4){
    grid-column: auto / span 6;
}
.grid div:nth-child(5){
    grid-column: auto / span 12;
}

.grid div:nth-child(6){
    grid-column: auto / span 12;
}

/* .grid div:nth-child(2) {
    grid-area: 2/1/4/2;
    /*grid-row-start: row2-start;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    } */

/* .grid div:nth-child(5) {
    grid-row: 1/2;
    grid-column: 1/3;
}*/
